.home-content {
  display: flex;
  justify-content: center;
  width: 600px;
  flex-direction: column;
}

.content h2 {
  font-family: "Georgia", serif;
  font-size: 42px;
  color: #000000;
}
.content ul ol {
  font-family: "open sans", sans-serif;
  color: #555;
}
.content p {
  font-family: "open sans", sans-serif;
  color: #555;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .home-content {
    width: 85%;
  }
}
